body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color:#d3d3d3;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 200px;
  box-shadow: 5px -1px 20px;
}

#quizWrapper {
  position: relative;
  margin-top: 150%;
  display: flex;
  justify-content: center;
}

#imageWrapper {
  width: 80%;
  margin: auto;
}

#resultBtn {
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 8px;
}

#finalResult {
  margin-top: 20px;
  text-align: center;
}


#score {
  font-size: 25px;
  color: green;
  justify-content: left;
  margin-left: 20px;
  font-weight: bold;
  position: absolute;
}

.toggleScore {
  display: none;
}

.hidden {
  display: none;
}

#buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%;
  margin: auto;
}

#startQuiz {
  position: relative;
  margin-top: 150%;
  width: 200px;
  height: 40px;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
}

#restartQuiz {
  position: relative;
  justify-content: center;
  margin-top: 150%;
  width: 200px;
  height: 40px;
  background-color: green;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 8px;
}

.btn {
  display: flex;
  justify-content: center;
  height: 30px;
  margin-top: 20px;
  align-items: center;
  border-radius: 8px;
}

.btn-correct {
  border: 4px solid green;
}

.btn-wrong {
  border: 4px solid red;
}


@media only screen and (min-width: 520px) {
  #buttons {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  img {
    border-radius: 250px;
  }

  #resultBtn {
    height: 40px;
    width: 100px;
    font-weight: bold;
  }

  .btn {
    height: 40px;
    width: 40%;
    font-weight: bold;
  }

  #finalResult {
    font-size: 20px;
    font-weight: bold;
  }
}